@import "tailwindcss";

@theme inline {
  --color-marfim: #F6F1E9;
  --color-champanhe: #EFE3D0;
  --color-areia: #E6D7BE;
  --color-fendi: #B9A58E;
  --color-taupe: #8D7C69;
  --color-caramelo: #D6A25F;
  --color-caramelo-dark: #B8882A;
  --font-display: var(--font-playfair);
  --font-sans: var(--font-montserrat);
}

body {
  background-color: #F6F1E9;
  color: #3a2e22;
}
